.test-modal {
  width: 400px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -100px;
  border: 3px solid blue;
  border-radius: 20px;
  padding: 20px;
  z-index: 20;
  font-family: Nunito;

  .test-modal__contaner {
    display: flex;
  }
}
