@import 'scss/cart-label';
@import 'scss/container';
@import 'scss/aside';
@import 'scss/item';

.shop {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  background: radial-gradient(50% 50% at 50% 50%, #1b1728 0%, #0a0e17 100%);
}