.contract {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: Nunito, sans-serif;

  .sum-input {
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid black;
    width: 100px;
    text-align: center;
  }

  .tablet {
    position: relative;
    width: 30%;
    margin: auto;
    background-image: url('img/tablet_bg.png');
    background-size: 100% 100%;
    padding: 50px 35px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
      align-self: flex-end;
    }

    &__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      margin-bottom: 24px;
    }

    &__text {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: #000000;
      margin-bottom: 15px;
    }

    .rrs {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      height: 20px;
      font-family: Nunito, sans-serif;
      font-weight: 700;

      .rrs__label {
        padding: 0 20px;
        width: 100%;
      }

      .rrs__label__text {
        width: 100%;
        text-align: center;
      }

      .rrs__options {
        top: 20px;
      }

      .rrs__button {
        line-height: 20px;
      }

      .rrs__option {
        padding: 0;
        line-height: 20px;
        text-align: center;
      }
    }

    .footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__name {
        font-weight: 400;
        font-size: 10px;
        line-height: 11px;
        text-align: right;
        text-transform: uppercase;
        color: #000000;
        position: relative;
        top: -4px;
      }

      &__date {
        width: 30%;
        text-align: center;
      }

      &__signature {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 100%;

        .signature-container {
          width: 100%;
          height: 65px;
          margin-bottom: 10px;

          img {
            width: 100%;
            height: 80%;
            border: 1px solid black;
          }

          canvas {
            width: 100%;
            height: 80%;
            border: 1px solid black;
          }
        }
      }
    }
  }

  .buttons {
    position: absolute;
    bottom: -50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;

    .button {
      width: 150px;
      height: 35px;
      background: linear-gradient(
          0deg, #5165d7, #5165d7), linear-gradient(0deg, #5165d7, #5165d7
      ), #c4c4c4;
      border-radius: 5px;
      display: flex;
      cursor: pointer;

      .text {
        margin: auto;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }
}

@media (min-width: 2560px) {
  .insurance-contract {
    .tablet {
      padding: 70px 50px;

      &__logo {
        width: 130px;
      }

      &__text {
        zoom: 1.4;
      }

      &__title {
        zoom: 1.4;
      }

      .footer {
      }
    }

    .buttons {
      zoom: 1.4;
    }
  }
}

@media (max-width: 1600px) {
  .insurance-contract {

    .tablet {
      padding-top: 58px;
    }

    .tablet__title {
      margin-bottom: 10px;
    }

    .tablet__text {
      margin-bottom: 8px;
      font-size: 11px;
      line-height: 13px;
    }

    .buttons {
      width: 70%;
    }

    ul {
      margin: 5px;
    }
  }
}

@media (max-width: 1440px) {
  .insurance-contract {

    .tablet {
      padding: 30px 25px;
    }

    .tablet__logo {
      width: 70px;
    }

    .tablet__title {
      margin-bottom: 10px;
      font-size: 13px;
    }

    .tablet__text {
      margin-bottom: 8px;
      font-size: 10px;
      line-height: 11px;
    }

    .footer {
      height: 100px;
      margin-top: 15px;

      .signature-container {
        height: 40px !important;
      }
    }

    .bank-seal {
      width: 100px;
    }

    .buttons {
      width: 70%;

      .button {
        width: 120px;
        height: 30px;

        .text {
          font-size: 11px;
        }
      }
    }

    ul {
      margin: 5px;
    }
  }
}

@media (max-width: 1366px) {
}

@media (max-width: 1280px) {
  .insurance-contract {
    .tablet {
      padding: 45px 25px;
    }

    .tablet__text {
      margin-bottom: 5px;
    }

    .tablet__title {
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 1024px) {
  .insurance-contract {
    .tablet {
      padding: 45px 25px;
    }

    .tablet__text {
      font-size: 9px;
      line-height: 9px;
    }

    .footer__date {
      font-size: 10px;
    }

    .bank-seal {
      width: 80px;
    }

    .footer__name {
      font-size: 8px !important;
    }

    .tablet__title {
      margin-bottom: 5px;
    }

    .buttons {
      width: 80% !important;
    }
  }
}

@media (max-width: 800px) {
  .insurance-contract {
    .tablet {
      padding: 30px 15px;
    }

    .tablet__logo {
      width: 40px;
    }

    .tablet__text {
      font-size: 8px;
      line-height: 8px;
    }

    .tablet__title {
      font-size: 10px;
      line-height: 10px;
    }

    .footer {
      height: 100px;
      margin-top: 0;

      .signature-container {
        height: 30px !important;
      }
    }

    .bank-seal {
      width: 50px;
    }

    .footer__name {
      font-size: 7px !important;
    }

    .tablet__title {
      margin-bottom: 5px;
    }

    .buttons {
      width: 90% !important;

      .button {
        width: 100px;
      }

      .text {
        font-size: 9px !important;
      }
    }
  }
}
