.electrician {
  .item {
    background: rgba(124, 115, 69, 0.2);
    //box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    //border: 1px solid #b4b3ad;
  }

  .figure {
    width: 100%;
    height: 100%;
  }
}