.create-pers {
  .step3 {
    .menu {
      width: 300px;
      position: absolute;
      left: 70px;
      top: 50%;
      height: 360px;
      margin-top: -180px;

      .menu__item {
        padding: 0 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        box-sizing: border-box;
        margin-bottom: 12px;
        background: rgba(255, 255, 255, 0.1);
        cursor: pointer;
        transition-property: all;
        transition-duration: 0.3s;

        .menu__text {
          font-size: 14px;
          text-transform: uppercase;
          color: #ffffff;
        }

        .menu__arrow-icon {
          transition-property: transform;
          transition-duration: 0.5s;
          width: 14px;
          height: 14px;
        }
      }

      .menu__item_active {
        background: rgba(255, 255, 255, 0.3);

        .menu__arrow-icon {
          transform: rotate(180deg);
        }
      }
    }
  }
}
