.create-pers {
  .step1 {
    .step1__form {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -210px;
      margin-top: -55px;
    }

    .form {
      width: 420px;
      height: 110px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-transform: uppercase;

      .form__input-row {
        width: 46%;

        .form__input {
          box-sizing: border-box;
          width: 100%;
          outline: none;
          background: transparent;
          border: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          color: white;
          text-transform: capitalize;
          font-size: 20px;
        }

        .form__input_error {
          border-bottom: 1px solid red;
        }

        .form__label {
          font-size: 13px;
          color: rgba(255, 255, 255, 0.5);
        }

        .form__error-hint {
          height: 20px;
          margin-top: 3px;
          color: red;
          text-transform: uppercase;
          font-size: 11px;
        }
      }

      .sex {
        width: 46%;
        height: 62px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        

        .sex__label {
          width: 100%;
          font-size: 13px;
          color: rgba(255, 255, 255, 0.5);
        }

        .sex__btn {
          cursor: pointer;
          padding: 2px 20px;
          background: rgba(255, 255, 255, 0.05);
          border-radius: 5px;
          margin-right: 10px;
          font-weight: 300;
          font-size: 14px;
          color: rgba(255, 255, 255, 0.2);
        }

        .sex__btn_active {
          background: linear-gradient(
            80.65deg,
            rgba(230, 150, 30, 0.2) 6.97%,
            rgba(242, 201, 76, 0.2) 92.8%
          );
          color: #e6961e;
        }
      }
    }

    .enter {
      position: absolute;
      top: 50%;
      margin-top: -65px;
      right: 10%;
      width: 105px;
      height: 130px;
      cursor: pointer;
      display: flex;
      flex-direction: column;

      .enter__img {
        cursor: pointer;
      }

      .enter__text {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.3);
      }

      .enter__text_active {
        color: white;
      }
    }
  }
}
