@import './header';
@import './transition';
@import './step1';
@import './step2';
@import './step3.scss';

.create-pers {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  font-family: 'Nunito', sans-serif;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .rotate-hint {
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin-left: -60px;
  }

  .scroll::-webkit-scrollbar {
    width: 4px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
  }

  .scroll::-webkit-scrollbar-thumb {
    width: 4px;
    border-radius: 5px;
    background: white;
  }
}

@media (min-width: 2560px) {
  .create-pers {
    .rotate-hint, .step1, .header, .title, .transition, .catalog, .menu {
      zoom: 1.4;
    }

    .step3 .current-block {
      right: 140px;
    }

    .current-block {
      transform: scale(1.4);
    }

    .step2 .slider {
      transform: scale(1.4);
      bottom: 35px;
    }
  }
}

@media (max-width: 1600px) {
  .create-pers {
    .rotate-hint, .step1, .header, .title, .transition, .catalog, .menu {
      zoom: 0.88;
    }

    .current-block {
      transform: scale(0.88);
    }

    .step2 .slider {
      transform: scale(0.88);
      bottom: -12px;
    }
  }
}

@media (max-width: 1440px) {
  .create-pers {
    .rotate-hint, .step1, .header, .title, .transition, .catalog, .menu {
      zoom: 0.8;
    }

    .step3 .current-block {
      right: -10px;
    }

    .current-block {
      transform: scale(0.8);
    }

    .step2 .slider {
      transform: scale(0.8);
      bottom: -20px;
    }
  }
}

@media (max-width: 1366px) {
  .create-pers {
    .rotate-hint, .step1, .header, .title, .transition, .catalog, .menu {
      zoom: 0.7;
    }

    .step3 .current-block {
      right: -20px;
    }

    .current-block {
      transform: scale(0.7);
    }

    .step2 .slider {
      transform: scale(0.7);
      bottom: -30px;
    }
  }
}

@media (max-width: 1024px) {
  .create-pers {
    .rotate-hint, .step1, .header, .title, .transition, .catalog, .menu {
      zoom: 0.6;
    }

    .step3 .current-block {
      right: -30px;
    }

    .current-block {
      transform: scale(0.6);
    }

    .step2 .slider {
      transform: scale(0.6);
      bottom: -40px;
    }
  }
}

@media (max-width: 800px) {
  .create-pers {
    .rotate-hint, .step1, .header, .title, .transition, .catalog, .menu {
      zoom: 0.5;
    }

    .step3 .current-block {
      right: -40px;
    }

    .current-block {
      transform: scale(0.5);
    }

    .step2 .slider {
      transform: scale(0.5);
      bottom: -50px;
    }
  }
}