.shop-hints {
  position: absolute;
  left: 100px;
  bottom: 50px;
  display: flex;
  align-items: center;

  color: #ffffff;
  text-transform: uppercase;
  line-height: 93.02%;

  .hint__container {
    display: flex;
    align-items: center;
    margin-right: 40px;

    .esc {
      font-weight: 600;
      font-size: 22px;
    }

    .hint__text {
      font-weight: 600;
      font-size: 12px;
      margin-left: 15px;
    }
  }
}
