@import './scss/houseOutside';
@import './scss/houseInside';
@import './scss/roommates';
@import './scss/garage';
@import './scss/header';

.house {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  font-family: TT Norms, sans-serif;
  text-transform: uppercase;
  background: radial-gradient(
      118.98% 118.98% at 50% 50%,
      rgba(79, 79, 79, 0.75) 0%,
      rgba(0, 12, 35, 0.75) 100%
  );

  .scroll {
    overflow-y: scroll;
    position: relative;
  }

  .scroll::-webkit-scrollbar-track {
    background: #777878;
    border-radius: 2px;
  }

  .scroll::-webkit-scrollbar {
    width: 4px;
  }

  .scroll::-webkit-scrollbar-thumb {
    background: linear-gradient(90.01deg, #e6961e 0%, #f2c94c 100%), #343434;
    border-radius: 2px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 2560px) {
  .house {
    zoom: 1.4;
  }
}

@media (max-width: 1600px) {
  .house {
    zoom: 0.9;
  }
}

@media (max-width: 1440px) {
  .house {
    zoom: 0.75;
  }
}

@media (max-width: 1280px) {
  .house {
    zoom: 0.7;
  }
}

@media (max-width: 1024px) {
  .house {
    zoom: 0.56;
  }
}

@media (max-width: 800px) {
  .house {
    zoom: 0.44;
  }
}
