@import 'scss/sms-corespondence';
@import 'scss/contact-list';
@import 'scss/contact-edit';
@import 'scss/sms-list';
@import 'scss/display';
@import 'scss/buttons';
@import 'scss/dialing';
@import 'scss/sms-set';
@import 'scss/index';
@import 'scss/calls';
@import 'scss/scroll';

.phone {
  position: absolute;
  z-index: 6;
  width: 290px;
  height: 580px;
  bottom: 0;
  right: 260px;
  background-image: url('img/bg.png');
  background-size: 100% 100%;
  padding-left: 2px;
  font-family: Nunito, sans-serif;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
}

@media (min-width: 2560px) {
}

@media (max-width: 1600px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1366px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 800px) {
}
