.gun-shop {
  .cart-bg {
    position: absolute;
    z-index: 6;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(19px);

    .cart {
      position: absolute;
      z-index: 7;
      width: 950px;
      height: 650px;
      left: 50%;
      top: 50%;
      margin-left: -475px;
      margin-top: -325px;

      background: rgba(0, 0, 0, 0.6);
      border-radius: 10px;
      padding: 20px 50px;
      box-sizing: border-box;
      color: white;

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__title {
        font-weight: 600;
        font-size: 24px;
        text-transform: uppercase;
      }

      &__close {
        font-weight: 600;
        font-size: 24px;
        text-transform: lowercase;
        cursor: pointer;
      }

      &__list {

      }

      &__item {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 20px;

        .header {
          display: flex;
          justify-content: space-around;
          align-items: center;
          background: rgba(255, 255, 255, 0.24);
          border-radius: 5px;
          height: 40px;
          padding-right: 30px;

          .active-btn {
            position: absolute;
            right: 70px;
            cursor: pointer;
          }

          .mod-quantity {
            position: absolute;
            color: #ecc02c;
            left: 52%;
          }
        }

        .name {
          text-transform: uppercase;
          color: #ffffff;
          width: 50%;
        }

        .price {
          font-weight: 600;
          font-size: 20px;
          text-transform: uppercase;
          color: #2bb466;
          text-align: center;
          width: 100px;
        }

        .delete-btn {
          font-weight: 600;
          font-size: 14px;
          text-transform: uppercase;
          background: #ef2a2a;
          opacity: 0.8;
          border-radius: 5px;
          padding: 2px 20px;
        }

        .mods {
          padding-top: 10px;
          background: rgba(32, 30, 30, 0.8);
          border-radius: 5px;

          .mod__item {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 10px;
            padding-right: 30px;
          }
        }
      }
    }
  }
}