.inventory-page {
  .container {
    width: 1120px;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .title {
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      letter-spacing: 7px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 95px;
    }

    .inventory {
      width: 440px;
      height: 555px;
      position: relative;
      color: white;

      .sub-title {
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 2px;
        text-transform: lowercase;
        color: #ffffff;
        text-align: center;
        position: absolute;
        top: 30px;
        width: 100%;
      }
    }

    .bag {
      width: 170px;
      height: 645px;
      position: relative;

      .icon {
        position: absolute;
        margin-left: 65px;
        bottom: -5px;
      }

      .small-bag {
        flex-direction: column;
        align-items: center;
      }
    }

    .fast-panel {
      position: absolute;
      bottom: 0;
      right: 45px;
      width: 350px;
      height: 120px;

      .title {
        margin-bottom: 0;
      }
    }
  }
}
