.inventory-page {
  .container {
    .slot-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-height: 440px;
      overflow-y: none;
      box-sizing: border-box;

      .slot {
        width: 80px;
        height: 80px;
        box-sizing: border-box;
        margin-bottom: 10px;
        background: rgba(255, 255, 255, 0.05);
      }
    }

    .skroll {
      width: 455px;
      padding-right: 7px;
      overflow-y: auto !important;
      overflow-x: none !important;

      &::-webkit-scrollbar {
        position: absolute;
        width: 8px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.05);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(0deg, #e6961e 0%, #f2c94c 100%),
          rgba(255, 255, 255, 0.05);
      }
    }
  }
}
