.player-menu {
  .report {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .aside {
      box-sizing: border-box;
      width: 25%;
      height: 100%;
      padding: 0 45px;
      font-weight: 600;
      font-size: 16px;

      .aside__question {
        line-height: 22px;
        color: #f2c94c;
        margin-bottom: 20px;
      }

      .aside__text {
        line-height: 17px;
        color: #ffffff;
        margin-bottom: 20px;
      }

      .rating {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        margin: 20px 0;
        border-top: 1px dashed #ffffff;
        border-bottom: 1px dashed #ffffff;
        height: 20px;

        .rating__value {
          display: flex;
          width: 32px;
          justify-content: space-between;

          .rating__icon {
            width: 15px;
            height: 15px;
          }
        }
      }
    }

    .report__main {
      width: 75%;
      padding-right: 80px;
      box-sizing: border-box;

      .report__container {
        background: #313a4b;
        border-radius: 15px 15px 0 0;
        height: 80%;
        display: flex;
        flex-direction: column;
        padding: 50px;
        box-sizing: border-box;

        .report__ratings {
          margin-top: 40px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .label {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #ffffff;
          }

          .stars__container {
            margin: 40px 0;
          }
        }

        .connected {
          width: 100%;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          color: #ffffff;
          margin-bottom: 20px;

          &--admin {
            text-align: right;
          }
        }

        .msg {
          color: #ffffff;
          margin-bottom: 25px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          &__name {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 5px;
          }

          &__text {
            background: #5e7692;
            border-radius: 5px;
            max-width: 40%;
            padding: 10px 10px;
            margin-bottom: 5px;
          }

          &__time {
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
          }

          &--admin {
            align-items: flex-end;

            .msg__name {
              color: #ef2a2a;
            }
          }
        }

        .report__empty-label {
          margin: auto;
          font-weight: 600;
          font-size: 26px;
          line-height: 35px;
          text-align: center;
          color: #ffffff;
        }

        .report__admin-waiting {
          width: 100%;
          display: flex;
          justify-content: center;

          .text {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #ffffff;
            margin-right: 10px;
          }
        }
      }

      .report__input-container {
        width: 100%;
        position: relative;

        .report__input {
          box-sizing: border-box;
          width: 100%;
          height: 80px;
          padding: 0 80px;
          border: none;
          outline: none;
          background: rgba(0, 0, 0, 0.45);
          border-radius: 0 0 15px 15px;

          font-weight: 600;
          font-size: 22px;
          line-height: 35px;
          color: #ffffff;
        }

        .send-icon {
          cursor: pointer;
          position: absolute;
          top: 23.5px;
          right: 23.5px;
        }
      }

      .report__buttons {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .report__button {
          width: 46%;
          height: 50px;
          border-radius: 5px;
          display: flex;
          cursor: pointer;

          .text {
            margin: auto;
            font-weight: 600;
            font-size: 20px;
            color: #ffffff;
          }

          &--question {
            background: rgba(242, 201, 76, 0.2);
          }

          &--complaint {
            background: rgba(198, 75, 75, 0.2);
          }
        }
      }
    }
  }
}