.player-menu {
  .stats {
    width: 100%;
    height: 100%;
    // background-color: sienna;
    display: flex;
    flex-direction: row;
    font-family: Nunito, sans-serif;
    color: #ffffff;

    &__left {
      height: 100%;
      width: 31.8%;
      // background-color: skyblue;
      display: flex;
      flex-direction: column;
      align-items: center;

      .player_name {
        height: 76px;
        margin-top: 71px;
        // width: 298px;
        display: flex;
        flex-direction: column;
        text-align: end;

        .name {
          font-weight: 600;
          font-size: 34px;
          line-height: 46px;
        }

        .status {
          font-weight: 600;
          font-size: 22px;
          line-height: 30px;
          color: #4c84f2;
        }
      }

      .lvl {
        width: 336px;
        height: 173px;
        margin-top: 18px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__label {
          font-weight: 600;
          font-size: 28px;
          line-height: 38px;
        }

        &__value {
          font-weight: 600;
          font-size: 60px;
          line-height: 60px;
        }

        &__exp {
          font-weight: 600;
          font-size: 20px;
          opacity: 0.45;
        }

        .progress-bar {
          width: 173px;
          height: 173px;
        }
      }

      .info_about_account-text {
        margin-top: 32px;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        color: #f2c94c;
      }

      .info_about_account {
        height: 186px;
        width: 419px;
        margin-top: 30px;
        flex-direction: column;
        justify-content: space-between;

        .line {
          width: 100%;
          font-weight: 600;
          font-size: 20px;
          line-height: 27px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 14px;
        }
      }

      .referrals {
        height: 124px;
        width: 350px;
        margin-top: 84px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .line {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .amount {
          white-space: nowrap;
          width: 205px;
          text-align: end;
          font-weight: 600;
          font-size: 46px;
          line-height: 63px;
        }

        .text {
          width: 132px;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
        }
      }

      .get_money_of_invites {
        width: 251px;
        height: 47px;
        margin-top: 14px;
        background-color: rgba(255, 255, 255, 0.25);
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        transition: all .1s ease-in;

        &:hover {
          background-color: #f2c94c;
          color: black;
          box-shadow: 0 0 4px rgba(242, 201, 76, 0.45);
          transition: all .1s ease-out;
        }

        &:active {
          transform: scale(1.02);
          transition: all .1s ease-out;
        }
      }
    }

    &__center {
      height: 100%;
      width: 34.4%;
      // background-color: blue;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid rgba(255, 255, 255, 0);
      border-top: none;
      border-bottom: none;

      .fraction_and_money {
        height: 597px;
        width: 99.8%;
        margin-top: 71px;
        border-left: 1px dashed #ffffff;
        border-right: 1px dashed #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__line {
          width: 597px;
          border: 1px dashed #ffffff;
        }

        &__block {
          height: 264px;
          width: 467px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .block_name {
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
          }

          .block_info {
            height: 205px;
            width: 467px;
            margin-top: 34px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .line {
              width: 100%;
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }

      .code {
        width: 567px;
        height: 90px;
        margin-top: 61px;
        display: flex;
        border: 1px dashed rgba(255, 255, 255, 0);
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .text {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          opacity: 0.45;
        }

        .referral_code {
          width: 567px;
          height: 58px;
          border: 1px dashed #ffffff;
          border-radius: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 600;
          font-size: 24px;
          line-height: 33px;
          color: #f2c94c;
          user-select: text;
        }
      }
    }

    &__right {
      height: 100%;
      width: 33.75%;
      // background-color: violet;
      display: flex;
      flex-direction: column;

      &-name {
        margin-top: 71px;
        margin-left: 56px;
        width: 540px;
        font-weight: 600;
        line-height: 27px;
        font-size: 20px;
        text-align: center;
      }

      &-list {
        margin: 44px 0 0 56px;
        height: 529px;
        width: 550px;
        overflow: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar {
          width: 2px;
          background-color: rgba(255, 255, 255, 0.25);
          border-radius: 1px;
          height: 204px;
        }

        &::-webkit-scrollbar-thumb {
          width: 2px;
          background: #f2c94c;
          border-radius: 1px;
        }

        .property {
          width: 540px;
          height: 39px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 0.5px solid rgba(255, 255, 255, 0.5);
          border-radius: 3px;
          margin-bottom: 10px;

          & > span:nth-child(n) {
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: #f2c94c;
          }

          & > span:first-child {
            margin-left: 15px;
            color: rgba(255, 255, 255, 0.45);
          }

          & > span:last-child {
            margin-right: 15px;
            color: rgba(255, 255, 255, 0.75);
          }
        }
      }

      &-info_about_referral {
        height: 107px;
        width: 525px;
        margin: 56px 0 0 86px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: right;
        color: rgba(255, 255, 255, 0.75);
        opacity: 0.75;
      }
    }
  }
}

.white {
  color: #ffffff;
}

.yellow {
  color: #f2c94c;
}


