.circular-menu.opened-nav li a {
  background: none !important;
}

.circular-menu.opened-nav li a:hover {
  background-image: radial-gradient(transparent 44%, #e6961e 44%) !important;
}

.circular-sub-menu.opened-nav li a {
  background-image: radial-gradient(
    transparent 50%,
    rgba(0, 0, 0, 0.7) 50%
  ) !important;
}

.circular-sub-menu.opened-nav li a:hover {
  background-image: radial-gradient(
    transparent 50%,
    #e6961e 50%
  ) !important;
}

.bg-inner {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.inner {
  font-family: Nunito;
  width: 170px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -85px;
  z-index: 9999;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.docs {
  content: url('./images/docs.svg');
}
