.circular-menu.opened-nav li a {
  background: none !important;
}

.circular-menu.opened-nav li a:hover {
  background-image: radial-gradient(transparent 44%, #e6961e 44%) !important;
}

.circular-sub-menu.opened-nav li a {
  background-image: radial-gradient(
      transparent 50%,
      rgba(0, 0, 0, 0.7) 50%
  ) !important;
}

.circular-sub-menu.opened-nav li a:hover {
  background-image: radial-gradient(transparent 50%, #e6961e 50%) !important;
}

.bg-wrap {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.inner {
  font-family: Nunito, sans-serif;
  box-sizing: border-box;
  width: 252px;
  height: 252px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -126px;
  margin-left: -126px;
  z-index: 9999;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.car_door { content: url('./images/car_door.svg') }
.car_handbrake { content: url('./images/car_handbrake.svg') }
.car_hood { content: url('./images/car_hood.svg') }
.car_safety_belt { content: url('./images/car_safety_belt.svg') }
.car_trunk { content: url('./images/car_trunk.svg') }
.docs { content: url('./images/docs.svg') }
.fraction { content: url('./images/fraction.svg') }
.handshake { content: url('./images/handshake.svg') }
.interaction { content: url('./images/interaction.svg') }
.licenses { content: url('./images/licenses.svg') }
.trade { content: url('./images/trade.svg') }