.atm {
  .atm__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    .header__balance-container {
      display: flex;
      align-items: center;

      .header__balance-text {
        font-weight: 600;
        font-size: 14px;
        color: #000000;

        .balance-num {
          margin-left: 4px;
          font-weight: 700;
        }
      }

      .header__balance-logo {
        margin-left: 11px;
      }
    }
  }
}
