@import 'scss/cart-label';
@import 'scss/container';
@import 'scss/aside';
@import 'scss/item';

.shop {
  position: absolute;
  font-family: Nunito, sans-serif;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  background: radial-gradient(50% 50% at 50% 50%, #1b1728 0%, #0a0e17 100%);
  overflow-y: hidden;
}

@media (min-width: 3000px) {
  .shop {
    .container {
      width: 1920px;
    }
  }
}

@media (min-width: 2560px) {
  .shop {
    zoom: 1.4;
  }
}

@media (max-width: 1600px) {
  .shop {
    zoom: 0.85;
  }
}

@media (max-width: 1440px) {
  .shop {
    zoom: 0.7;
  }
}

@media (max-width: 1280px) {
  .shop {
    zoom: 0.68;
  }
}

@media (max-width: 1024px) {
  .shop {
    zoom: 0.55;
  }
}

@media (max-width: 800px) {
  .shop {
    zoom: 0.42;
  }
}
