.inventory-page {
  .close {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);

    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;

    .close__btn {
      padding: 10px 18px;
      margin-right: 22px;
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
}
