.choose__block {
  &-item {
    width: 363px;
    height: 536px;
    margin-top: 54px;
    // background-color: red;
    display: flex;
    flex-direction: column;

    &_info {
      font-size: 14px;
      line-height: 19px;
      opacity: 0.5;
    }

    &_name {
      font-size: 48px;
      line-height: 44px;
      white-space: nowrap;
      word-wrap: normal;
    }

    &_list {
      width: 363px;
      height: 461px;
      margin-top: 11px;
      overflow: scroll;
      overflow-x: hidden;

      .item {
        height: 45px;
        width: 333px;
        background: rgba(255, 255, 255, 0.45);
        border-radius: 3px;
        margin-bottom: 7px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        word-wrap: normal;
        white-space: nowrap;
        transition: all 0.07s ease-in;

        & > span:first-child {
          margin-left: 11px;
          font-weight: 600;
          font-size: 20px;
          line-height: 27px;
          color: rgba(255, 255, 255, 0.45);
          transition: all 0.07s ease-in;
        }

        & > span:last-child {
          margin-right: 11px;
          font-weight: 600;
          font-size: 20px;
          line-height: 27px;
          color: rgba(255, 255, 255, 0.45);
          transition: all 0.07s ease-in;
        }

        &:hover {
          background-color: rgba(236, 192, 44, 0.8);
          transition: all 0.07s ease-out;

          & > span:nth-child(n) {
            color: rgba(0, 0, 0, 1);
            transition: all 0.07s ease-out;
          }
        }
      }

      .item-active {
        height: 45px;
        width: 333px;
        background-color: rgb(236, 192, 44);
        border-radius: 3px;
        margin-bottom: 7px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        word-wrap: normal;
        white-space: nowrap;
        color: black;

        & > span:first-child {
          margin-left: 11px;
          font-weight: 600;
          font-size: 20px;
          line-height: 27px;
        }

        & > span:last-child {
          margin-right: 11px;
          font-weight: 600;
          font-size: 20px;
          line-height: 27px;
        }
      }

      &::-webkit-scrollbar {
        width: 4px;
        background-color: rgba(255, 255, 255, 0.25);
        border-radius: 1px;
        height: 461px;
      }

      &::-webkit-scrollbar-thumb {
        width: 4px;
        background: #f2c94c;
        border-radius: 1px;
      }
    }
  }
}
