.house {
  .garage {
    .roommates__item {
      width: 100%;
      height: 60px !important;
      background: linear-gradient(90.01deg, #e6961e 0%, #f2c94c 100%);
      opacity: 0.85;
      border-radius: 4px;
      margin-bottom: 10px;
      display: flex;
      cursor: pointer;

      .text {
        margin: auto;
        font-weight: bold;
        font-size: 22px;
        line-height: 35px;
        color: #343434;
      }
    }

    .roommates-menu {
      position: absolute;
      width: 350px;
      height: 160px;
      left: 100px;
      bottom: 40px;
      text-transform: uppercase;

      .hint {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        line-height: 35px;
        color: #ffffff;
        opacity: 0.35;
      }

      .roommates-list {
        overflow-y: scroll;
        height: 130px;
        padding-right: 10px;
      }
    }

    .available-cars {
      position: absolute;
      width: 1200px;
      height: 180px;
      right: 100px;
      bottom: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .header__text {
          font-size: 18px;
          line-height: 35px;
          text-transform: uppercase;
          color: #ffffff;
          margin-left: 15px;
        }
      }

      .car-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .slider-btn {
          cursor: pointer;
        }

        .car-list__item {
          width: 210px;
          position: relative;

          .car {
            cursor: pointer;
          }

          .car-name {
            position: absolute;
            bottom: -20px;
            width: 100%;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.55);
            text-align: center;
          }
        }

        &::-webkit-scrollbar {
          position: absolute;
          height: 6px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 5px;
          background: #d5b34a;
        }
      }
    }

    .garage-body {
      position: absolute;
      height: 206px;
      top: 50%;
      left: 50%;
      margin-top: -102px;
      box-sizing: border-box;

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 155px;
      padding-right: 100px;
      padding-top: 10px;
      background-repeat: no-repeat;

      .garage__car {
        position: relative;
        cursor: pointer;
        width: 200px;
        height: 240px;

        .info {
          position: absolute;
          top: -45px;
          right: -40px;
          text-transform: uppercase;
          text-align: center;

          .remove-icon {
            position: absolute;
            top: -30px;
            left: 50%;
            margin-left: -10px;
          }

          .title1 {
            font-weight: 500;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.55);
            margin-bottom: 10px;
          }

          .title2 {
            font-weight: bold;
            font-size: 18px;
            color: #ffffff;
          }
        }
      }

      .garage__car-bottom {
        margin-bottom: 20px;

        .info {
          top: 235px;
          height: 47px;
          right: -20px;

          .remove-icon {
            top: 55px;
          }
        }
      }

      .garage__item-empty {
        .garage__car {
          display: flex;

          .garage__empty {
            margin: auto;
          }
        }
      }

      &-2 {
        background: url('../img/garage_bg2.svg');
        width: 675px;
        margin-left: -337.5px;
      }

      &-4 {
        background: url('../img/garage_bg4.svg');
        width: 1110px;
        margin-left: -560px;
      }

      &-6 {
        background: url('../img/garage_bg6.svg');
        width: 1549px;
        margin-left: -775px;
      }

      &-top {
        margin-top: -270px;
      }

      &-bottom {
        width: 1110px;
        margin-top: 20px;
        margin-left: -335px;
        background: url('../img/garage_bg4-bottom.svg') no-repeat;
        padding-left: 175px;
        padding-right: 100px;
      }
    }
  }
}