.create-pers {
  .header {
    font-weight: 18px;
    width: 90%;
    position: absolute;
    left: 5%;
    top: 5%;
    color: white;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 6px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 25px;
    display: flex;
    align-items: center;

    .header__icon {
      position: relative;
    }

    .header__icon_align-center {
      left: 50%;
      margin-left: -10px;
    }

    .text__first-word {
      font-weight: bold;
      margin-right: 10px;
    }
  }

  .title {
    position: absolute;
    top: 16%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    text-align: center;
    color: white;

    .title__main-text {
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .title__sub-text {
      font-size: 18px;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
