@import './menu';
@import './toggle-bar';
@import './toggle-color';
@import './slider';
@import './toggle-img';

.create-pers {
  .step3 {
    .current-block {
      position: absolute;
      width: 320px;
      height: 400px;
      top: 50%;
      right: 50px;
      margin-top: -200px;
      box-sizing: border-box;
      margin-bottom: 13px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .current-wrap {
        padding-left: 10px;
        padding-right: 20px;
        overflow-y: auto;
      }
    }

    

    .skroll::-webkit-scrollbar {
      width: 10px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 5px;
    }

    .skroll::-webkit-scrollbar-thumb {
      width: 10px;
      border-radius: 5px;
      background: white;
    }
  }
}
