.create-pers {
  .step3 {
    .toggle-img {
      margin-bottom: 15px;

      .toggle-img__title {
        font-size: 14px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 5px;
      }

      .toggle-img__container {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-height: 90px;
        overflow-y: auto;

        .toggle-img__item {
          box-sizing: border-box;
          cursor: pointer;
          width: 44px;
          height: 44px;
          margin-right: 5px;
          margin-bottom: 5px;
          transition-property: all;
          transition-duration: 0.3s;
        }

        .toggle-img__item_active {
          border: 1px solid white;
        }
      }
    }
  }
}
