.create-pers {
  .step3 {
    .toggle-color {
      margin-bottom: 15px;
      .toggle-color__title {
        font-size: 14px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 5px;
      }

      .toggle-color__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        .toggle-color__item {
          box-sizing: border-box;
          cursor: pointer;
          width: 24px;
          height: 24px;
          margin-right: 5px;
          margin-bottom: 5px;
          transition-property: all;
          transition-duration: 0.3s;
        }

        .toggle-color__item_active {
          border: 1px solid white;
        }
      }
    }
  }
}
