.create-pers {
  .step3 {
    .toggle-bar {
      .toggle-bar__title {
        font-size: 14px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 5px;
      }

      .toggle-bar__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        .toggle-bar__item {
          font-weight: bold;
          width: 38px;
          height: 38px;
          box-sizing: border-box;
          background: rgba(255, 255, 255, 0.3);
          font-size: 14px;
          text-transform: uppercase;
          color: #ffffff;
          padding-top: 10px;
          text-align: center;
          cursor: pointer;
        }

        .toggle-bar__item_active {
          background: white;
          color: black;
        }
      }
    }
  }
}
