@import './header';
@import './transition';
@import './step1';
@import './step2';
@import './step3.scss';

.create-pers {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  font-family: 'Nunito', sans-serif;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
