.create-pers {
  .step3 {
    .face {
      position: absolute;
      border: 1px solid white;
      width: 380px;
      height: 400px;
      top: 50%;
      right: 50px;
      margin-top: -200px;
    }
  }
}
