.fraction {
  .aside {
    background: #2F3136;
    padding: 40px 15px;

    .menu {
      width: 220px;
      height: 180px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}