.fraction {
  .aside {
    background: #2f3136;
    padding: 40px 10px;

    .menu {
      width: 230px;
      height: 180px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .menu__item {
        display: flex;
        padding: 8px 20px;
        cursor: pointer;

        .menu__title {
          margin-left: 10px;
          font-size: 16px;
          line-height: 100%;
          color: #c4c4c4;
        }

        &_active {
          background: #393c43;
          border-radius: 5px;

          .menu__title {
            color: white;
          }
        }
      }
    }
  }
}
