.fraction-context {
  font-family: TT Norms;

  .context-menu {
    .main-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 10;
      width: 160px;
      background: #2c2c2c;
      border-radius: 5px;

      padding: 14px;

      .main-menu__item {
        display: flex;
        align-items: center;
        height: 28px;
        padding: 0 10px;
        margin-bottom: 5px;

        .item__text {
          margin-left: 10px;
          font-weight: 500;
          font-size: 13px;
          line-height: 100%;
          color: #ffffff;
        }

        &:hover {
          background: #393c43;
          border-radius: 5px;
        }
      }

      .disabled {
        .item__text {
          color: gray;
        }
      }
    }
  }
}
