.fraction {
  .members-list {
    width: 100%;
    padding: 30px 30px 0;

    font-size: 14px;
    line-height: 100%;

    color: #ffffff;
    text-align: center;
    height: 95%;

    .row {
      display: flex;
      width: 100%;
      justify-content: space-between;
      cursor: pointer;

      .list__item,
      .header__item {
        width: 20%;

        &:nth-child(1) {
          width: 5%;
        }

        &:nth-child(2) {
          width: 25%;
        }

        &:nth-child(5) {
          width: 25%;
        }
      }

      .list__item_bg {
        background: #2f3136;
        border-radius: 8px;
      }

      .list__item,
      .header__item {
        height: 20px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        .online {
          width: 8px;
          height: 8px;
          background: #007621;
          border-radius: 50%;
        }
      }

      .header__item {
        margin-bottom: 20px;
        font-weight: 600;
      }
    }
  }
}
