.shop {
  .item {
    position: relative;
    box-sizing: border-box;
    width: 280px;
    height: 340px;
    line-height: 100%;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
    margin-left: 20px;
    cursor: pointer;

    background: rgba(255, 255, 255, 0.0625);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .item__icon {
      position: absolute;
      z-index: 10;
      left: 50%;
      top: 50%;
      width: 150px;
      height: 150px;
      margin-left: -75px;
      margin-top: -75px;
      filter: drop-shadow(0 0 30px rgba(100, 0, 0, 0.5));
    }

    .item__name {
      font-weight: 600;
      font-size: 20px;
      line-height: 22px;
      color: #ffffff;
      margin-top: 23px;
    }

    .item__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      width: 100%;
      box-sizing: border-box;

      .item__price {
        font-weight: bold;
        font-size: 18px;
        line-height: 19px;
        color: #f2c94c;
      }

      .counter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100px;

        .counter__button {
          display: flex;
          width: 20px;
          height: 20px;
          background: rgba(255, 255, 255, 0.25);
          border-radius: 2px;
        }

        .counter__num {
          display: flex;
          width: 30px;
          height: 30px;
          background: rgba(255, 255, 255, 0.25);
          border-radius: 2px;
        }

        .text {
          margin: auto;
          font-weight: bold;
          font-size: 14px;
          line-height: 14px;
          color: #ffffff;
        }
      }

      .item__button {
        width: 100px;
        height: 30px;
        background: #f2c94c;
        box-shadow: 0 0 15px rgba(242, 201, 76, 0.45);
        border-radius: 3px;
        display: flex;

        .text {
          margin: auto;
          font-weight: bold;
          font-size: 14px;
          line-height: 14px;
          color: #000000;
        }
      }
    }
  }
}