.atm {
  .atm__body {
    .transfer {
      .transfer__input-container {
        filter: drop-shadow(0px 15px 20px rgba(242, 241, 254, 0.45));
        background: #f5f5f5;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-bottom: 25px;
        width: 330px;
        padding: 13px 24px;
        box-sizing: border-box;

        .transfer__input-hint {
          font-weight: 600;
          font-size: 13px;
          color: #8f8f8f;
        }

        .transfer__input {
          width: 100%;
          font-family: 'Nunito', sans-serif;
          background: none;
          border: none;
          outline: none;
          font-weight: 700;
          font-size: 13px;
          color: #28282e;
        }
      }

      .rrs {
        margin-bottom: 20px;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
        width: 330px;
        font-weight: bold;

        .rrs__button {
          padding: 13px 6px;
          background: #f5f5f5;
          border-radius: 5px;

          .rrs__label {
            border: none;
            color: #4e68e1;

            .caret-icon {
              fill: white;
            }
          }
        }

        .rrs__options {
          background: #f5f5f5;
          border: none;
          outline: none;
          border-radius: 5px;
          max-height: 139px;
          overflow: auto;
          padding-top: 10px;
          font-weight: 500;

          .rrs__option, rrs__option--selected {
            color: #28282e;
            box-sizing: border-box;
            background: #f5f5f5;
            border-bottom: 1px solid #8f8f8f;

            &:hover {
              background: #f5f5f5;
            }
          }

          &::-webkit-scrollbar {
            width: 5px;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background: #f5f5f5;
          }
        }
      }

      .transfer__submit-btn {
        cursor: pointer;
        background: linear-gradient(96.22deg, #4271ff 10.19%, #5165d7 101.15%);
        box-shadow: 0 0 15px rgba(66, 113, 255, 0.6);
        border-radius: 30px;
        padding: 20px 35px;
        text-align: center;
        display: inline-block;
        font-weight: bold;
        font-size: 14px;
        color: #ffffff;
      }
    }
  }
}
