.inventory {
  .indicators {
    z-index: 10;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: Serif, serif;

    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
    }

    &__label {
      font-family: Nunito, sans-serif;
      position: relative;
      font-size: 16px;
      font-weight: bold;
      margin-right: 5px;
      width: 50px;
      text-align: right;
    }

    &__progress-bar {
      width: 60px;
      height: 54px;
    }
  }
}