.inventory {
  .slot {
    div[role='button'] {
      width: 100%;
      height: 100%;
    }

    .item {
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;

      font-weight: 600;
      font-size: 10px;
      line-height: 12px;
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer;

      &__img {
        margin: auto;
        width: 50px;
        height: 50px;
      }

      &__quantity, &__weight {
        position: absolute;
        bottom: 0;
        background: rgba(255, 255, 255, 0.1);
        padding: 1px 5px;
      }

      &__quantity {
        left: 0;
      }

      &__weight {
        right: 0;
      }
    }
  }

  .slot--equipment {
    .item {
      &__quantity, &__weight {
        display: none;
      }

      &__img {
        width: 30px;
        height: 30px;
      }
    }
  }
}