.phone {
  .func-container {
    display: flex;
    justify-content: space-between;
    width: 190px;

    .func-button:nth-child(1), .func-button:nth-child(3) {
      position: relative;
      top: -15px;
    }
  }

  .numeral-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 190px;

    .numeral-btn:nth-child(2),
    .numeral-btn:nth-child(5),
    .numeral-btn:nth-child(8),
    .numeral-btn:nth-child(11), {
      position: relative;
      top: 15px;
    }
  }
}