.phone {
  .contact-list {
    width: 100%;
    height: 200px;
    background: #b7badb;
    border-radius: 2px;

    .contact-new {
      height: 30px;
      background: #5d62af;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #ffffff;

      &__icon {
        margin-left: 20px;
        margin-right: 8px;
      }

      &__text {
        font-size: 10px;
        line-height: 14px;
      }

      &--active {
        background: #f2c94c;
        color: black;
      }
    }

    .contact-list__container {
      width: 100%;
      height: 170px;

      .item {
        height: 25px;
        display: flex;
        align-items: center;

        &--active {
          background: #f2c94c;
        }

        &__img-container {
          width: 25px;
          height: 25px;
          display: flex;
        }

        &__img {
          margin: auto;
        }

        .item__name {
          margin-left: 5px;
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          color: #000000;
        }
      }
    }
  }
}