.phone {
  .dialing {
    width: 100%;
    height: 200px;
    background: #B7BADB;
    border-radius: 2px;
    padding: 10px;
    box-sizing: border-box;

    &__num {
      font-size: 30px;
      color: #000000;
      word-break: break-all;
      width: 100%;
      height: 100%;
    }
  }
}