.payment-bar {
  position: absolute;
  width: 450px;
  bottom: 40px;
  right: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .btn {
    width: 220px;
    height: 50px;

    background: rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    display: flex;
    cursor: pointer;
    position: relative;

    &:hover {
      background: #ecc02c;
      box-shadow: 0 0 20px rgba(236, 192, 44, 0.15);
    }

    &--pay {
      margin-top: 20px;
      width: 100%;
    }

    .text {
      margin: auto;
      font-weight: 600;
      font-size: 20px;
      line-height: 93.02%;
      text-transform: uppercase;
      color: #000000;
      opacity: 0.75;
    }

    .caret {
      position: absolute;
      top: 19px;
      right: 19px;
    }
  }

  .btn--active {
    background: #ecc02c;
    box-shadow: 0 0 20px rgba(236, 192, 44, 0.15);
  }

  .btn--blocked {
    &:hover {
      background: rgba(255, 255, 255, 0.4);
      box-shadow: none;
    }
  }

  .select {
    position: absolute;
    top: -50px;
    right: 0;
    width: 220px;
    height: 60px;
    background: rgba(42, 42, 42, 0.7);
    border-radius: 6px;
    padding-top: 5px;

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 20px;
      padding: 0 6px;
      box-sizing: border-box;
      cursor: pointer;

      &:hover {
        background: rgba(236, 192, 44, 0.6);
      }

      .select__value {
        font-weight: 600;
        font-size: 12px;
        line-height: 93.02%;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }
}

@media (min-width: 2560px) {
  .payment-bar {
    zoom: 1.4;
  }
}

@media (max-width: 1600px) {
  .payment-bar {
    zoom: 0.9;
  }
}

@media (max-width: 1440px) {
  .payment-bar {
    zoom: 0.8;
  }
}

@media (max-width: 1366px) {
  .payment-bar {
    zoom: 0.75;
  }
}

@media (max-width: 1280px) {
  .payment-bar {
    zoom: 0.7;
  }
}

@media (max-width: 800px) {
  .payment-bar {
    zoom: 0.52;
  }
}
