.blackout {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0.85;
}

.inventory-page {
  position: absolute;
  z-index: 5;
  color: white;
  font-family: Nunito;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .title {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
  }

  .slot-no-hover {
    &:hover {
      background-color: rgba(255, 255, 255, 0.05) !important;
    }
  }

  .slot {
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.05);

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    .item-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .label-block {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 9px;

        .label {
          font-weight: 800;
          padding: 3px 5px;
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }

  .button-exit {
    position: absolute;
    right: 50px;
    top: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;

    .btn {
      padding: 10px 18px;
      margin-right: 22px;
      background-color: rgba(255, 255, 255, 0.05);
    }
  }

  .main-block {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -510px;
    margin-top: -350px;
    width: 1020px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .top-panel {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 30px;
      margin-bottom: 50px;

      .equipment-title {
        width: 320px;
      }

      .inventory-title {
        width: 650px;
      }
    }

    .equipment {
      width: 320px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 480px;

      background-image: url(../images/man.png);
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 50% 100%;

      .equipment-slot-container {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
        height: 50px;

        .equipment-slot {
          width: 50px;
          height: 50px;
          background-color: rgba(255, 255, 255, 0.07);
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            background-color: rgba(255, 255, 255, 0.2);
          }

          .equipment-plug {
            padding-top: 5px;
            zoom: 1.2;
          }

          .equipment-item {
            padding-top: 5px;
            zoom: 0.8;
          }
        }
      }

      .row1 {
        padding-left: 60px;
        padding-right: 60px;
      }

      .row2 {
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    .inventory {
      width: 660px;
      height: 580px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .bag-block {
        width: 170px;
        height: 450px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .small-bag-block {
        flex-direction: column;
        align-items: center;

      }

      .inventory-block {
        width: 450px;
        height: 450px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .bag-hint {
        width: 170px;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        img {
          margin-top: 10px;
          height: 60px;
        }
      }

      .fast-inventory {
        width: 450px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .slot {
          margin-right: 10px;
        }
      }
    }
  }

  .bottom-panel {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: space-between;

    .progress-bar-container {
      display: flex;
      align-items: center;

      .label {
        font-size: 16px;
        font-weight: bold;
        margin-right: 12px;
      }

      .progress-bar {
        width: 60px;
      }
    }
  }

  .weight-panel {
    position: absolute;
    top: 50%;
    right: -150px;
    margin-top: -150px;
    width: 300px;
    height: 300px;

    .panel-inner {
      width: 50%;
      height: 50%;
      text-align: right;
      background-image: url(../images/weight.svg);
      background-size: 100% 100%;
      margin-left: -50px;
      text-transform: uppercase;

      .text {
        margin-top: 38px;
        font-size: 26px;
        font-weight: bold;
        width: 65%;
      }

      .subtext {
        width: 65%;
        margin-top: 30px;
        font-size: 14px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

@media (min-width: 2560px) {
  .inventory-page {
    zoom: 1.5;
  }
}

@media (max-width: 1400px) {
  .inventory-page {
    zoom: 0.9;

    .weight-panel {
      width: 200px;
      height: 200px;
      right: -100px;
      margin-top: -100px;
    }

    .bottom-panel {
      bottom: 15px;
    }
  }
}

@media (max-width: 1140px) {
  .inventory-page {
    zoom: 0.8;
  }
}

@media (max-width: 1000px) {
  .inventory-page {
    zoom: 0.7;
  }
}

@media (max-width: 900px) {
  .inventory-page {
    zoom: 0.6;
  }
}