.inventory-page {

  .modal {
    position: absolute;
    z-index: 5;
    width: 380px;
    height: 120px;
    background-color: #413D3D;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    img {
      width: 40px;
      max-height: 40px;
      margin-right: 20px;
      margin-left: 20px;
    }

    .modal-text-block {
      width: 300px;
      position: relative;
      height: 100%;
      box-sizing: border-box;
      padding: 5px;

      .title {
        text-align: left;
        color: white;
      }

      .description {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
      }

      .weight {
        font-size: 13px;
        font-weight: 700;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .slider-block {
      margin-top: 10px;
      background-color: #413D3D;
      width: 380px;
      height: 70px;
      padding: 20px 22px;

      .input-range__slider {
        background: white;
        border: none;
      }

      .input-range__track {
        background: #ddd;
      }

      .input-range__track--active {
        background: #DDAC3D;
      }

      .slider {
        .label {
          display: block;
          text-align: left;
          color: white;
          font-size: 14px;
          margin-bottom: 20px;
        }
      }
    }

    .btn-block {
      margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .active-btn {
        background-color: #DEB344 !important;
        color: white !important;
      }

      .btn {
        text-align: center;
        flex: 1;
        cursor: pointer;
        padding: 5px;
        background-color: #413D3D;
        color: rgb(255, 255, 255);

        &:hover {
          color: white;
          background-color: #5F5C5C;
        }
      }
    }
  }
}