@import './scss/main-menu';
@import './scss/sub-menu';
@import './scss/main-page';
@import './scss/toggle-bar';
@import './scss/card';
@import './scss/side-bar';
@import 'scss/card-settings';
@import './scss/modal';

.bank-context {
  font-family: 'Nunito', sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;

  .bank__close-btn {
    cursor: pointer;
    position: absolute;
    z-index: 20;
    top: 70px;
    right: 140px;
  }

  .bank {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10;

    .bank-wrapper1 {
      position: absolute;
      width: 60%;
      height: 100%;
      right: 0;
      top: 0;
      background: linear-gradient(
          270deg,
          rgba(66, 113, 255, 0.3) 0%,
          rgba(66, 113, 255, 0) 100%
      );
      z-index: 11;
    }

    .bank-wrapper2 {
      position: absolute;
      left: 0;
      top: 0;
      width: 60%;
      height: 100%;
      background: linear-gradient(
          270deg,
          rgba(66, 113, 255, 0.3) 0%,
          rgba(66, 113, 255, 0) 100%
      );
      transform: matrix(-1, 0, 0, 1, 0, 0);
      z-index: 11;
    }

    .bank__logo {
      position: absolute;
      left: 130px;
      top: 70px;
    }

    .order {
      .chart-wrapper {
        position: absolute;
        z-index: 11;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;

        justify-content: center;
        align-items: center;

        * {
          z-index: 13;
          font-weight: 600;
        }
      }
    }
  }

  .bank-blur {
    filter: blur(10px);
  }
}

@media (min-width: 2560px) {
  .bank-context {
    zoom: 1.4;
  }
}

@media (max-width: 1600px) {
  .bank-context {
    zoom: 0.9;
  }
}

@media (max-width: 1440px) {
  .bank-context {
    zoom: 0.9;

    .main-menu {
      zoom: 0.9;
    }
  }
}

@media (max-width: 1366px) {
  .bank-context {
    zoom: 0.8;
  }
}

@media (max-width: 1280px) {
  .bank-context {
    zoom: 0.8;

    .main-menu {
      zoom: 0.8;
    }
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 800px) {
  .bank {
    zoom: 0.6;
  }
}
