@import './scss/main-menu';
@import './scss/sub-menu';
@import './scss/main-page';
@import './scss/toggle-bar';
@import './scss/card';
@import './scss/side-bar';

.bank {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
  font-family: 'Nunito', sans-serif;

  .bank-wrapper1 {
    position: absolute;
    width: 60%;
    height: 100%;
    right: 0;
    top: 0;
    background: linear-gradient(
      270deg,
      rgba(66, 113, 255, 0.3) 0%,
      rgba(66, 113, 255, 0) 100%
    );
    z-index: 11;
  }

  .bank-wrapper2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    height: 100%;
    background: linear-gradient(
      270deg,
      rgba(66, 113, 255, 0.3) 0%,
      rgba(66, 113, 255, 0) 100%
    );
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: 11;
  }

  .bank__logo {
    position: absolute;
    left: 130px;
    top: 70px;
  }

  .bank__close-btn {
    position: absolute;
    z-index: 12;
    top: 70px;
    right: 140px;
    cursor: pointer;
  }

  .order {
    .chart-wrapper {
      position: absolute;
      z-index: 11;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;

      justify-content: center;
      align-items: center;

      * {
        z-index: 13;
        font-weight: 600;
      }
    }
  }
}
