.fraction {
  .cars {
    padding: 25px 50px;
    height: 540px;

    .cars__list {
      width: 100%;
      display: grid;
      grid-template-columns: 280px 280px;
      justify-content: space-between;

      .car__item {
        background: rgba(82, 85, 94, 0.5);
        border-radius: 5px;
        margin-bottom: 20px;
        cursor: pointer;

        .car__img {
          width: 100%;
        }

        .car__info {
          display: grid;
          grid-template-columns: 50% 50%;
          grid-template-rows: repeat(4, 18px);
          color: #c4c4c4;
          padding: 6px 8px;

          .car__prop-name {
            font-size: 12px;
          }

          .car__prop-value {
            font-weight: bold;
            font-size: 10px;
            text-align: right;
          }
        }
      }
    }
  }
}