.hud {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
  font-family: Nunito, serif;

  .hint {
    position: absolute;
    bottom: 100px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: #ffffff;
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
    }

    .button {
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ffffff;
      background: #efbd42;
      padding: 2px 8px;
      margin: 0 10px;
      border-radius: 5px;
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
    }
  }

  .top-right-panel {
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    width: 340px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .logo {
      width: 120px;
      height: 60px;
      margin-top: 35px;
      margin-right: 40px;
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
    }

    .num-block {
      display: flex;
      width: 120px;
      height: 20px;
      margin-top: 25px;
      margin-right: 40px;
      justify-content: center;

      .num-block-item {
        display: flex;
        margin-right: 10px;

        .icon {
          margin-right: 7px;
          filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
        }

        .num {
          filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
        }
      }
    }

    .mission {
      background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0) 0.01%,
          rgba(0, 0, 0, 0.7) 100%
      );
      margin-top: 25px;
      padding: 19px 40px 19px 19px;
      text-align: right;

      .title {
        font-weight: bold;
        font-size: 18px;
      }

      .text {
        font-size: 14px;
      }
    }
  }

  .right-panel {
    z-index: 3;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -45px;
    width: 20px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    svg { filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5)); }
  }

  .bottom-left-panel {
    z-index: 3;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 17%;
    font-weight: bold;

    .block {
      display: flex;
      margin-bottom: 13px;
      align-items: center;

      img {
        margin-right: 15px;
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
      }

      svg {
        position: relative;
        right: 3px;
        margin-right: 15px;
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
      }
    }

    .geo-block {
      margin-bottom: 0;
    }

    .money {
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
    }

    .micro-block {
      .micro-btn-hint {
        position: relative;
        right: 25px;
        top: 13px;
        font-size: 12px;
        font-weight: 900;
        color: rgba(255, 255, 255, 0.5);
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
      }

      .active {
        color: white !important;
      }
    }

    .street {
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
      font-weight: 300;
      color: rgba(255, 255, 255, 0.5);
    }

    .quarter {
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
    }
  }

  .time-block {
    position: absolute;
    bottom: -2px;
    left: 1.5%;
    display: flex;
    font-size: 14px;

    img {
      margin-right: 7px;
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
    }

    .time {
      color: white;
      margin-right: 5px;
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
    }

    .date {
      color: rgba(255, 255, 255, 0.5);
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
    }
  }

}

.alerts {
  overflow: hidden;
  font-family: Nunito, serif;
  z-index: 100 !important;
  position: absolute;
  width: 900px;
  margin-left: -450px;
  left: 50%;
  bottom: 50px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .alert-dialogue {
    width: 650px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 10px;

    .head {
      position: relative;
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      background: rgba(0, 0, 0, 0.5);
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

      .text {
        width: 100%;
        margin: auto;
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
      }
    }

    .button {
      margin-top: 10px;
      width: 280px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      cursor: pointer;

      .button__key {
        width: 40px;
        height: 100%;
        display: flex;
        background: rgba(0, 0, 0, 0.8);

        .text {
          margin: auto;
          font-weight: 600;
          font-size: 22px;
          color: #ffffff;
          position: relative;
          top: 2px;
        }
      }

      .button__text {
        width: 230px;
        height: 100%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        backdrop-filter: blur(30px);
        display: flex;

        .text {
          margin: auto;
          font-weight: 600;
          font-size: 14px;
          color: #ffffff;
        }
      }

      .button__text-accept {
        background: rgba(236, 192, 44, 0.5);
        box-shadow: 0 0 50px rgba(236, 192, 44, 0.45);
      }

      .button__text-cancel {
        background: rgba(236, 44, 44, 0.5);
        box-shadow: 0 0 50px rgba(236, 44, 44, 0.45);
      }
    }
  }

  .alert-item {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    height: 48px;
    background: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: all 1s;
    left: 0;
    opacity: 1;
    margin-bottom: 10px;

    .img-wrap {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.8);
    }

    .text {
      padding: 0 10px;
    }
  }

  .progress {
    width: 100%;
    height: 3px;
    border-radius: 1px;
  }

  .progress-bar {
    height: 3px;
    width: 0;
    border-radius: 1px;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.05)
    );
    transition: 0.01s linear;
    transition-property: width, background-color;
  }

  .progress-confirm {
    background: linear-gradient(90deg, rgba(72, 222, 114, 0.8) 0%, rgba(0, 118, 33, 0.8) 99.99%);
    box-shadow: 0 0 5px 1px rgba(87, 161, 108, 0.5);
  }

  .progress-error {
    background: linear-gradient(90deg, rgba(222, 72, 72, 0.8) 0%, rgba(118, 0, 0, 0.8) 99.99%);
    box-shadow: 0 0 5px 1px rgba(161, 87, 87, 0.5);
  }

  .progress-warning {
    background: linear-gradient(270deg, rgba(230, 150, 30, 0.8) 0%, rgba(242, 201, 76, 0.8) 100.00%);
    box-shadow: 0 0 5px 1px rgba(242, 201, 76, 0.5);
  }

  .progress-moved .progress-bar {
    animation: progressAnimation 14s;
  }

  @keyframes progressAnimation {
    0% {
      width: 100%;
    }

    100% {
      width: 0;
    }
  }
}

@media (min-width: 2560px) {
  .hud, .alerts {
    zoom: 1.6;
  }
}

@media (max-width: 1366px) {
  .hud, .alerts {
    zoom: 0.9;
  }
}

@media (max-width: 1024px) {
  .hud, .alerts {
    zoom: 0.8;
  }
}