.hud {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
  font-family: Nunito, serif;

  .hint {
    position: absolute;
    bottom: 100px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: #ffffff;
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
    }

    .button {
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ffffff;
      background: #efbd42;
      padding: 2px 8px;
      margin: 0 10px;
      border-radius: 5px;
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
    }
  }

  .top-right-panel {
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    width: 340px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .logo {
      width: 120px;
      height: 60px;
      margin-top: 35px;
      margin-right: 40px;
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
    }

    .num-block {
      display: flex;
      width: 120px;
      height: 20px;
      margin-top: 25px;
      margin-right: 40px;
      justify-content: center;

      .num-block-item {
        display: flex;
        margin-right: 10px;

        .icon {
          margin-right: 7px;
          filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
        }

        .num {
          filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
        }
      }
    }

    .mission {
      width: 340px;
      height: 100px;
      background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0) 0.01%,
          rgba(0, 0, 0, 0.7) 100%
      );
      margin-top: 25px;
      text-align: right;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        font-weight: bold;
        font-size: 18px;
      }

      .text {
        font-size: 14px;
      }

      .line {
        width: 4px;
        height: 72px;
        margin-left: 36px;

        background: linear-gradient(0deg, #E6961E 0%, #F2C94C 100%);
        box-shadow: 0 0 13px 2px rgba(242, 201, 76, 0.37);
        border-radius: 15px;
      }
    }
  }

  .right-panel {
    z-index: 3;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -45px;
    width: 20px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    svg { filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5)); }
  }

  .bottom-left-panel {
    z-index: 3;
    color: white;
    position: absolute;
    font-weight: bold;

    .money-add {
      position: relative;
      left: 10px;
      top: 0;
      transition: all 1s linear;
      color: #05bb65;
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.7));
      font-weight: bold;

      &--bottom {
        opacity: 0;
        top: 40px;
      }

      &--top {
        opacity: 0;
        top: -40px;
      }

      &--center {
        opacity: 1;
        top: 0;
      }

      &--disable {
        opacity: 0;
        top: 0;
      }

      &--green {
        color: #05bb65;
      }

      &--red {
        color: #f51616;
      }
    }

    .block {
      display: flex;
      margin-bottom: 13px;
      align-items: center;

      img {
        margin-right: 15px;
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
      }

      svg {
        position: relative;
        right: 3px;
        margin-right: 15px;
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
      }
    }

    .geo-block {
      margin-bottom: 0;
    }

    .money {
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
    }

    .micro-block {
      .micro-btn-hint {
        position: relative;
        right: 25px;
        top: 13px;
        font-size: 12px;
        font-weight: 900;
        color: rgba(255, 255, 255, 0.5);
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
      }

      .active {
        color: white !important;
      }
    }

    .street {
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
      font-weight: 300;
      color: rgba(255, 255, 255, 0.5);
    }

    .quarter {
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
    }
  }

  .time-block {
    position: absolute;
    bottom: -2px;
    left: 1.5%;
    display: flex;
    font-size: 14px;

    img {
      margin-right: 7px;
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
    }

    .time {
      color: white;
      margin-right: 5px;
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
    }

    .date {
      color: rgba(255, 255, 255, 0.5);
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
    }
  }

}

@media (min-width: 2560px) {
  .hud {
    zoom: 1.6;
  }
}

@media (max-width: 1366px) {
  .hud {
    zoom: 0.9;
  }
}

@media (max-width: 1024px) {
  .hud {
    zoom: 0.8;
  }
}